body {
  background: #efefef;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

*{
  margin: 0;
  padding: 0;
}


.topNavBar {
  padding: 20px 0px 20px 0px;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.topNavBar  nav {
  padding-top: 7px;
}
.topNavBar  nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topNavBar  nav > ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}
.topNavBar  nav > ul > li > a {
  font-size: 12px;
  color: #b7b7b7;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}
.topNavBar  nav > ul > li > a:hover {
  border-bottom: 3px solid #e06567;
}

.topNavBar .logo {
  font-size: 24px;
  font-family: 'Arial Black';
  padding-top: 3px;
  padding-bottom: 4px;
}
.topNavBar .logo .rs {
  margin-right: 4px;
  color: #e6686a;
}
.topNavBar .logo .card {
  color: #9a9da2;
}
  .topNavBar nav ul>li>a:hover{
    border-bottom-color: #DC6465;
  }

.banner{
  height: 515px;
  background-position: center center;
  background-size: cover;
}

.topNavBar-inner{
  padding: 0 16px 0 16px;
}

.banner .mask{
  height: 515px;
  background-color: rgba(0, 0,0, 0.8);
}

.userCard{
  max-width: 940px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.userCard .welcome{
    background: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}

.userCard .welcome .triangle {
  display: block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #e6686a;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}

.picture{
  float: left;
  margin-right: 65px;
}

.text{
  float: left;
  width: 470px;
}

.pictureAndText{
  padding: 50px;
}

.userCard .text .h1{
  margin-top:18px;
}



hr{
  height: 0;
  border: none;
  border-top: 1px solid #DEDEDE;
}

.userCard .text hr{
  margin:20px 0;
}

.userCard dl dt,
.userCard dl dd{
  float:left;
  padding: 5px 0;
}

.userCard dl dt{
  font-weight: bold;
  width: 30%;
}

.userCard dl dd {
  width: 70%;
  color: #9da0a7;
}

.userCard footer{
  background-color: #E6686A;
}

.userCard svg{
  width:30px;
  height:30px;
  fill:white;
  margin: 0 16px;
  vertical-align: top;
}

.userCard > footer.media > a{
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  margin: 16px;
}

.userCard > footer.media > a:hover{
  background: #CF5D5F;
}



